<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>Add program</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control">
                <label>Description</label>
                <textarea class="form-control" rows="3"></textarea> 
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>`